img {
    max-width: 100%; /* Ensures the image doesn't exceed its container's width */
    height: 50px; /* Automatically adjusts the height to maintain the image's aspect ratio */
    border: 1px solid #ddd; /* Adds a light border around the image */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow effect */
    
}
li.img{
    float: left;
}

/* Style for the form container */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for the select input */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

/* Style for the text input */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

/* Style for the submit button */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style for the submit button on hover */
input[type="submit"]:hover {
    background-color: #0056b3;
}

.container{
    display: flex;
}
